<!DOCTYPE html>
<html>
<head>
    <title>Backend</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
	{% for category, message in messages %}
	<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
		{{ message }}
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	{% endfor %}
	{% endif %}
	{% endwith %}
	<ul>
		{%- for item in current_menu.children recursive -%}
		<li class="nav-item" data-toggle="tooltip" data-placement="right" title="{{ item.text }}">
		    <a class="nav-link" href="{{ item.url}}">
		        <span class="nav-link-text">{{ item.text }}</span>
		    </a>
		</li>
		{%- endfor -%}
	</ul>
	<h1>Backend</h1>
	<h2>Pages</h2>
	<table>
		<tr>
			<th>Action</th>
			<th>Title</th>
		</tr>
		{%- for page in pages recursive -%}
		<tr>
			<td><button></button></td>
			<td>
				{{ '> ' * (loop.depth - 1) }}<a href="{{ url_for('backend.view_page', page_id=page.id) }}">
					{{ page.title if page.title else 'page %s' % page.id }}
				</a>
			</td>
		</tr>
	    {{ loop(page.children) }}
		{%- endfor -%}
	</table>
</body>
