[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-menu = "*"
flask-login = "*"
flask-compress = "*"
flask-argon2 = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-apscheduler = "*"
psycopg2-binary = "*"
python-dotenv = "*"

[dev-packages]
