<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }} - ssg</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <ul>
        {%- for menu_item in menu recursive -%}
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="{{ menu_item['title'] }}">
            <a class="nav-link" href="/{{ menu_item['url'] }}">
                <span class="nav-link-text">{{ menu_item['title'] }}</span>
            </a>
            {% if 'children' in menu_item %}
            <ul>
                {{ loop(menu_item['children']) }}
            </ul>
            {% endif %}
        </li>
        {%- endfor -%}
    </ul>
    <div>
        {{ page.content() }}
    </div>
</body>
