<!DOCTYPE html>
<html>
<head>
    <title>View: {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
	{% for category, message in messages %}
	<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
		{{ message }}
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	{% endfor %}
	{% endif %}
	{% endwith %}
	<ul>
		{%- for item in current_menu.children recursive -%}
		<li class="nav-item" data-toggle="tooltip" data-placement="right" title="{{ item.text }}">
		    <a class="nav-link" href="{{ item.url}}">
		        <span class="nav-link-text">{{ item.text }}</span>
		    </a>
		</li>
		{%- endfor -%}
	</ul>
	<h1>Title: {{ page.title }}</h1>
	<a href="{{ url_for('backend.edit_page', page_id=page.id) }}">Edit</a><br>
	<p>{{ page.source }}</p>
	<hr>
	<p>{{ page.content() }}</p>
</body>
